<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- اسم التطبيق -->
    <name>الواجبات اليومية</name>

    <!-- وصف التطبيق -->
    <description>ادارة الواجبات والجداول اليومية</description>

    <!-- معلومات المطور -->
    <author email="your-email@example.com" href="https://yourwebsite.com">
        HASSANIN
    </author>

    <!-- الصفحة الرئيسية -->
    <content src="index.html" />

    <!-- السماح بالروابط الخارجية -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- أيقونة التطبيق -->
    <icon src="res/icon/app_icon.png" />

    <!-- إعدادات أندرويد -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="Orientation" value="portrait" />
        <!-- إزالة Splash Screen -->
        <preference name="SplashScreen" value="none" />
    </platform>
</widget>
